.top-container {
  display: flex;
}

.dot-canvas-grid {
  border: 1px solid black;
  width: min-content;
  height: min-content;
}

.row {
  display: flex;
}

.cell {
  width: 32px;
  height: 32px;
  border: 1px solid grey;
}

.color-picker-container {
  display: flex;
}

.recent-colors {
  width: 32px;
  height: 32px;
  border: 1px solid black;
}

.alpha-slider {
  height: min-content;
}

.checkered-background {
  background-image: linear-gradient(
      45deg,
      #d3d3d3 25%,
      transparent 25%,
      transparent 75%,
      #d3d3d3 75%
    ),
    linear-gradient(
      45deg,
      #d3d3d3 25%,
      transparent 25%,
      transparent 75%,
      #d3d3d3 75%
    );
  background-position: 0 0, 34px 34px;
  background-size: 68px 68px;
  background-color: white;
}
